@import '../../scss/_mixin.scss';

.auto-menu-item.selected {
  background: white;
  @include theme-background-selected;

  &:before {
    content: "";
    border: 2px solid;
    @include theme-border-color-selected;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

