@import '../scss/_mixin.scss';

div[panelcontentid="main"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.theme-border {
  height: 999999px;
  border: 1px solid;
  border-radius: 5px;
  @include theme-border-color;
}