@import '../scss/_mixin.scss';

div[panelcontentid="main"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.theme-border {
  border: 1px solid;
  border-radius: 5px;
  @include theme-border-color;
}

.theme-background-textfield {
  @include theme-background-textfield;
}

.theme-color-warning {
  @include theme-warning-color;
}

.theme-border-warning {
  @include theme-border-color-warning;
}
