$text-color-darkest: #e6e6e6;
$text-color-dark: #e6e6e6;
$text-color-light: #171717;
$text-color-lightest: #171717;

$border-color-darkest: #494949;
$border-color-dark: #5a5a5a;
$border-color-light: #d3d3d3;
$border-color-lightest: #cacaca;

$border-color-selected-darkest: #2d46e1;
$border-color-selected-dark: #2d81ff;
$border-color-selected-lightest: #010731;
$border-color-selected-light: #0069ff;

$background-darkest: #323232;
$background-dark: #535353;
$background-lightest: #F1F0EF;
$background-light: #B8B9B8;

$warning-darkest: #db6566;
$warning-dark: #e67577;
$warning-lightest: #b93635;
$warning-light: #c64545;